### The problem is to see what kind of correlation there is between the salary and the title of the job. I also went ahead and looked to see if there was correlation between the city that the job is in and the salary.

# By title

In [159]:
import pandas as pd
indeed_df=pd.read_csv('../assets/indeed-scraped-job-postings.csv')

In [160]:
indeed_df.head()

,city,company,salary,summary,title,parsed_salary
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0
1,Denver,Department Of The Interior,"$71,012 - $99,243 a year",Investigate potential uses of geospatial data ...,Interdisciplinary Cartographer/Geographer - GS...,85127.5
2,Denver,Mental Health Center of Denver,"$70,000 - $80,000 a year",Advise the Data Developer with regard to creat...,Financial Data Scientist,75000.0
3,Denver,Denver Public Schools,"$62,712 - $75,255 a year",Portal managers on student outcome data report...,SENIOR RESEARCH ANALYST,68983.5
4,Denver,University of Colorado,"$25,000 - $29,000 a year",Experience entering and manipulating data in a...,Animal Care I,27000.0

In [161]:
indeed_df['parsed_salary'].median  #deterimines whether the salary is good or bad

<bound method Series.median of 0       87792.0
1       85127.5
2       75000.0
3       68983.5
4       27000.0
5       93645.0
6       66654.0
7       66654.0
8       77500.0
9      130000.0
10      85000.0
11      55733.5
12      43500.0
13      44250.0
14     105000.0
15      47500.0
16     170000.0
17     140000.0
18     150000.0
19      85000.0
20      35000.0
21     160000.0
22      41000.0
23      65000.0
24     120000.0
25     135000.0
26      82500.0
27     140000.0
28     190000.0
29     120000.0
         ...
383     74550.0
384    180000.0
385    227500.0
386    125000.0
387    140000.0
388     85000.0
389         NaN
390    200000.0
391    175000.0
392    180000.0
393    180000.0
394    100000.0
395     41000.0
396     79247.0
397    141158.0
398     33400.0
399     94531.0
400     50794.0
401     56200.0
402     52300.0
403    160000.0
404    212500.0
405    120000.0
406     54182.0
407     87500.0
408     55000.0
409     80000.0
410     87500.0
411     80000.0
412     34999.5
Name: parsed_salary, dtype: float64>

In [162]:
indeed_df['good_salary']=(indeed_df['parsed_salary']>= 87792.0)

In [163]:
indeed_df2=pd.get_dummies(indeed_df['good_salary'], prefix='good_salary')
indeed_df3=indeed_df.join(indeed_df2)
indeed_df=indeed_df3

In [164]:
indeed_df.head()

,city,company,salary,summary,title,parsed_salary,good_salary,good_salary_False,good_salary_True
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0,True,0.0,1.0
1,Denver,Department Of The Interior,"$71,012 - $99,243 a year",Investigate potential uses of geospatial data ...,Interdisciplinary Cartographer/Geographer - GS...,85127.5,False,1.0,0.0
2,Denver,Mental Health Center of Denver,"$70,000 - $80,000 a year",Advise the Data Developer with regard to creat...,Financial Data Scientist,75000.0,False,1.0,0.0
3,Denver,Denver Public Schools,"$62,712 - $75,255 a year",Portal managers on student outcome data report...,SENIOR RESEARCH ANALYST,68983.5,False,1.0,0.0
4,Denver,University of Colorado,"$25,000 - $29,000 a year",Experience entering and manipulating data in a...,Animal Care I,27000.0,False,1.0,0.0

In [165]:
indeed_df.dropna(inplace=True)

In [166]:
from stop_words import get_stop_words
indeed_df['title'] = [word for word in indeed_df['title'] if word not in get_stop_words('en')]
indeed_df['title']

/Users/russellsasaki/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  from ipykernel import kernelapp as app

0                 Statistician, GS-1350-12 (DEU-PERM-DS)
1      Interdisciplinary Cartographer/Geographer - GS...
2                               Financial Data Scientist
3                                SENIOR RESEARCH ANALYST
4                                          Animal Care I
5                  Assistant Research Scientist - RADARS
6                        Statistical Research Specialist
7                Statistical Research Scientist - RADARS
8                        Regulatory & Compliance Manager
9                       Software Engineer/Data Scientist
10     Global Marketing Manager - Ingredient and Scho...
11             Geologist GS-1350-07/09 (DEU - TERM - JG)
12        Professional Research Assistant - Data Manager
13     Professional Research Assistant - Tissue Bank ...
14       Platform Developer/Geospatial Big Data (Python)
15     Professional Research Assistant - Clinical Res...
16                                       DevOps Engineer
17                  Data Scientist Programmer/Specialist
18                   Senior Deep Learning Data Scientist
19     Robotics software engineer (involves machine l...
20                        Research Analyst/Customer Serv
21                                        Data Scientist
22                International Environmental Specialist
23     Research Analyst (excel, analysis, client-facing)
24                 Data Scientist (Software Engineering)
25                                 Data Science Engineer
26                                     BI/Data Architect
27      Software Development Engineer (Machine Learning)
28                                Digital Data Scientist
29            Sr. Data Scientist, Compensation Analytics
                             ...
382                                Head of Data Sciences
383                          Database Administrator, GSE
384             Staff Engineer, Machine Learning (Scala)
385    Vice President Engineering (Big Data/ Machine ...
386                                          QA Engineer
387           Equity Research Analyst - US Energy Stocks
388                                   Billing Specialist
390                                       Java Developer
391                   Director of Data Science (Mapping)
392                                      Erlang Engineer
393                              Data Operations Manager
394                                 Data Scientist / SQL
395                             Statistical Data Analyst
396                                     Health Scientist
397                         Supervisory Health Scientist
398                                  Research Specialist
399    Interdisciplinary Health Scientist/ Behavioral...
400                              Market Research Analyst
401                           Asc Dir, Research Projects
402                Research Financial Analyst (Dept/Sch)
403                                     Director of Data
404    Statistical Credit Risk Modeler | Top Performi...
405                     C++ Developer / Machine Learning
406                           Associate Research Analyst
407                Research Statistician - Payment Cards
408                 Real Estate / Title Research Analyst
409          Audit Snr (Banking) - Data Analysis 60K-80K
410                               Marketing Statistician
411                                      DevOps Engineer
412     School Business Manager and Human Resources (HR)
Name: title, dtype: object

In [167]:
cat_vars=['title']
for var in cat_vars:
   cat_list='var'+'_'+var
   cat_list = pd.get_dummies(indeed_df[var], prefix=var)
   indeed_df5=indeed_df.join(cat_list)
   indeed_df=indeed_df5

In [168]:
indeed_df.head()

,city,company,salary,summary,title,parsed_salary,good_salary,good_salary_False,good_salary_True,title_(Per-Diem) Research Analyst,...,title_Technical Service Engineer,title_Trace Organics - Environmental Lab Scientist II,title_VP - Predictive Modeling / Data Scientist,title_VP - Predictive Modeling Actuary,title_VP Data Scientist,title_VP of Data Services,title_Vice President Engineering (Big Data/ Machine Learning),title_Water Quality Modeler,title_Water Resources Analyst,title_Web Security Research Analyst
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0,True,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Denver,Department Of The Interior,"$71,012 - $99,243 a year",Investigate potential uses of geospatial data ...,Interdisciplinary Cartographer/Geographer - GS...,85127.5,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Denver,Mental Health Center of Denver,"$70,000 - $80,000 a year",Advise the Data Developer with regard to creat...,Financial Data Scientist,75000.0,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Denver,Denver Public Schools,"$62,712 - $75,255 a year",Portal managers on student outcome data report...,SENIOR RESEARCH ANALYST,68983.5,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Denver,University of Colorado,"$25,000 - $29,000 a year",Experience entering and manipulating data in a...,Animal Care I,27000.0,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [169]:
del indeed_df['city']
del indeed_df['company']
del indeed_df['salary']
del indeed_df['summary']
del indeed_df['good_salary']
del indeed_df['parsed_salary']

In [170]:
cat_vars=['title']
indeed_vars=indeed_df.columns.values.tolist()
to_keep=[i for i in indeed_vars if i not in cat_vars]

In [171]:
indeed_vars

['title',
 'good_salary_False',
 'good_salary_True',
 'title_(Per-Diem) Research Analyst',
 'title_(Sr.) Statistical Consultant',
 'title_A.I. Psychologist/Research Assistant',
 'title_AVP/Quantitative Analyst',
 'title_Academic Financial Specialist',
 'title_Account Management',
 'title_Accountant, Associate, College of Medicine - Phoenix',
 'title_Administrative Analyst/Specialist, Exempt I - Office of Rese...',
 'title_Analyst',
 'title_Analyst, Market Research',
 'title_Analyst, Strategy & Insights \xe2\x80\x93 Custom Research',
 'title_Analytics Expert',
 'title_Analytics Senior Director',
 'title_Animal Care I',
 'title_Asc Dir, Research Projects',
 'title_Assistant Research Scientist',
 'title_Assistant Research Scientist (G14) (Virology) - 34114',
 'title_Assistant Research Scientist - RADARS',
 'title_Assistant Research Scientist I, Grade 14, Job 736895',
 'title_Associate Research Analyst',
 'title_Astrophysicist',
 'title_Audit Snr (Banking) - Data Analysis 60K-80K',
 'title_BI/Data Architect',
 'title_Big Data Engineer',
 'title_Big Data Engineer (Software Engineering) \xe2\x80\x93 Analytics',
 'title_Big Data Engineer | Remote | Mature Start-up',
 'title_Big Data Engineer/ ETL Developer for a Global Education Prov...',
 'title_Billing Specialist',
 'title_Bioinformatics Postdoctoral Fellow',
 'title_Budget & Research Analyst',
 'title_Business Data Analyst',
 'title_Business Intelligence Data Scientist',
 'title_Business Intelligence Scientist',
 'title_Business Intelligence/Data Scientist at VC Bay Area Start-up',
 'title_C++ Developer / Machine Learning',
 'title_C++/Python Algo Developer/Data Scientist',
 'title_CNUP Assistant',
 'title_Career Coach',
 'title_Certifying Scientist / Toxicologist',
 'title_Chief Data Scientist',
 'title_Clinical Laboratory Assistant',
 'title_Clinical Laboratory Scientist (CLS)',
 'title_Clinical Program Officer',
 'title_Clinical Research Scientist',
 'title_Competitive Research Analyst #23654',
 'title_Computer Systems Manager I',
 'title_Customer Intelligence Analyst',
 'title_Cytometry Technician',
 'title_DATA ANALYST',
 'title_DYFJ Senior Analyst',
 'title_Data Administrator',
 'title_Data Analysis Specialist',
 'title_Data Analyst',
 'title_Data Analyst II (Department: Research, Assessment & Data)',
 'title_Data Analyst Market - Research Analyst',
 'title_Data Analyst, Bureau of Chronic Disease Prevention and Tobac...',
 'title_Data Analysts, Data Scientists - Kendall Square startup',
 'title_Data Architect / Data Scientist',
 'title_Data Engineer',
 'title_Data Engineer (Partially Remote)',
 'title_Data Engineer for $100B Manager ($200k+Benefits)',
 'title_Data Manager, Adolescent Health Unit',
 'title_Data Operations Manager',
 'title_Data Science Engineer',
 'title_Data Scientist',
 'title_Data Scientist (AML Experience)',
 'title_Data Scientist (Advanced Machine Learning)',
 'title_Data Scientist (Big Data)',
 'title_Data Scientist (Econometrics)',
 'title_Data Scientist (Lead)',
 'title_Data Scientist (Machine Learning)',
 'title_Data Scientist (Marketing Mix Modeling)',
 'title_Data Scientist (Modeler)',
 'title_Data Scientist (Natural Language Processing)',
 'title_Data Scientist (PhD & Health Insurance Claims Experience)',
 'title_Data Scientist (PhD in Statistics)',
 'title_Data Scientist (Software Engineering)',
 'title_Data Scientist - Digital Marketing - Technology Start-Up',
 'title_Data Scientist - Fort Lauderdale, Florida - $115K',
 'title_Data Scientist - Healthcare stealth startup - python',
 'title_Data Scientist - Life Sciences',
 'title_Data Scientist - healthcare, hacking coding skills',
 'title_Data Scientist -Fitness/Wellness Firm',
 'title_Data Scientist / SQL',
 'title_Data Scientist Hedge Fund New York',
 'title_Data Scientist Programmer/Specialist',
 'title_Data Scientist- Entry Level',
 'title_Database Administrator, GSE',
 'title_Deputy Director for Child Welfare Management Reporting',
 'title_Deputy Director, QA & Strategic Statistical Analysis',
 'title_DevOps Engineer',
 'title_Digital Data Scientist',
 'title_Director of Data',
 'title_Director of Data Analytics',
 'title_Director of Data Science',
 'title_Director of Data Science (Mapping)',
 'title_Director of Predictive Analytics (Statistician)',
 'title_Director, Data Science',
 'title_Distributed Systems OR Full - Stack Python',
 'title_Document Control Manager',
 'title_Electronics Engineer',
 'title_Electronics Technician',
 'title_Electronics Technician, GS-0856-09/10/11 (DEU-Perm-YMJ) (Rad...',
 'title_Embedded Software Engineer',
 'title_Equity Research Analyst',
 'title_Equity Research Analyst \xe2\x80\x93 Biotech - Chicago, IL',
 'title_Equity Research Analyst\xc2\xa0- US Energy Stocks',
 'title_Erlang Engineer',
 'title_Financial Data Scientist',
 'title_Food Scientist MS or PhD - Meat Products',
 'title_Fraud Data Scientist',
 'title_Front End/UI Hybrid at World-Renowned Research Lab',
 'title_Front-End Engineer',
 'title_Full-Stack Data Scientist',
 'title_Geologist GS-1350-07/09 (DEU - TERM - JG)',
 'title_Global Equity Research Analyst',
 'title_Global Marketing Manager - Ingredient and School Foodservice',
 'title_HIGH THROUGHPUT SCREENING...',
 'title_HUMAN RESOURCES ANALYST IV - Test Research',
 'title_Head of Data Sciences',
 'title_Health Scientist',
 'title_Health Technician (Optometry)',
 'title_Healthcare Research Analyst',
 'title_High Frequency Strategy Engineer',
 'title_IT Specialist (APPSW)',
 'title_Infectious Disease Scientist',
 'title_Interdisciplinary Cartographer/Geographer - GS-1370/0150-12...',
 'title_Interdisciplinary Health Scientist/ Behavioral Scientist',
 'title_International Environmental Specialist',
 'title_Investment Research Analyst',
 'title_JR. Full Stack Developer',
 'title_Java Developer',
 'title_Java Programmer',
 'title_Java Software Engineer',
 'title_Junior Data Scientist',
 'title_Junior Medical Devices Equity Research Analyst',
 'title_Junior Pharma Equity Research Analyst',
 'title_Junior Quantitative Analyst / Developer for $5B Hedge Fund',
 'title_Junior Research Analyst, Family and Child Health Administrat...',
 'title_LC/MS Clinical Laboratory Scientist',
 'title_Laboratory Director, Toxicology',
 'title_Laboratory Manager',
 'title_Lead Computer Vision Scientist (AR/VR | R&D | Machine Learni...',
 'title_Lead Data Scientist',
 'title_Lead Ruby on Rails Architect - CTO\xc2\x92s \xc2\x91Right Hand\xc2\x92',
 'title_Lecturer - Statistics - Department of Statistics (includes s...',
 'title_MEDICAL TECHNOLOGIST, DATA SYSTEMS',
 'title_Machine Learning / Deep Learning Internship(s)',
 'title_Machine Learning Data Engineer',
 'title_Machine Learning Data Scientist',
 'title_Machine Learning Engineer',
 'title_Machine Learning Engineer Entry Level',
 'title_Machine Learning Research Scientist - Hedgefund',
 'title_Machine Learning Researcher',
 'title_Machine Learning and Data Scientist',
 'title_Manager Health Information Management Data Analysis HIM',
 'title_Manager of Data Science (Python, R)',
 'title_Manager, Data Science',
 'title_Manager, Exploratory Statistics',
 'title_Market Research Analyst',
 'title_Marketing Specialist | SEO, PPC, Conversion Marketing',
 'title_Marketing Statistician',
 'title_Masters Program Coordinator, Machine Learning Department (SC...',
 'title_Medical Technologist',
 'title_Medical Technologist (Laboratory Information Manager)',
 'title_Mid-Level C# .NET Software Engineer',
 'title_Mid-Level Data Engineer',
 'title_Mid-Level Data Scientist',
 'title_Middle School Science Teacher Certificated Staff',
 'title_Mobile QA Engineer',
 'title_Molecular Laboratory Manager',
 'title_NSF-Sponsored Postdoctoral Fellow: EEG Analysis',
 'title_PRODUCT DEVELOPMENT SCIENTIST - Flavors',
 'title_PROJECT MANAGER',
 'title_Platform Developer/Geospatial Big Data (Python)',
 'title_Policy Data Analyst',
 'title_Policy and Public Affairs Manager, Division of Prevention an...',
 'title_Post-Doctoral Research Scientist',
 'title_Post-Doctoral Scholar-Employee: Analysis of omics data',
 'title_Postdoc / Research Scientist',
 'title_Postdoctoral Associate',
 'title_Predictive Modeling Director',
 'title_Predictive Risk Analyst',
 'title_Principal Analyst\\Asst. Director\xc2\xb8 Data Science',
 'title_Principal Data Scientist',
 'title_Principal Data Scientist - Supply Chain',
 'title_Principal Scientist - Food Science - Protein',
 'title_Principal Statistical Analyst / Data Scientist',
 'title_Principal Statistician',
 'title_Product Development Specialist - Food R&D',
 'title_Professional Research Assistant - Clinical Research Coordina...',
 'title_Professional Research Assistant - Data Manager',
 'title_Professional Research Assistant - Tissue Bank Coordinator/Da...',
 'title_Program Manager',
 'title_Program Statistician',
 'title_Project Manager, Bureau of Primary Care Information Project',
 'title_Project Manager, Citywide Programs',
 'title_Python Developer (Machine Learning)',
 'title_QA Engineer',
 'title_QUANTITATIVE MODEL VALIDATION ANALYST',
 'title_Quality Assurance Coordinator (Chemist 4) (In-Training)',
 'title_Quality Control Scientist',
 'title_Quantitative Analyst',
 'title_Quantitative Analyst (Big Data Focus) at $10+ Billion Hedge...',
 'title_Quantitative Analyst (Fundamental Quant Equities) - Hedge Fu...',
 'title_Quantitative Analyst for Global Quant Fund',
 'title_Quantitative Analyst or Manager Decision Sciences',
 'title_Quantitative Data Analyst, Risk Management',
 'title_Quantitative Data Scientist - Large Asset Manager',
 'title_Quantitative Research Analyst',
 'title_Quantitative Researcher - Statistical Machine Learning - Hed...',
 'title_Quantitative Researcher, Machine Learning & Bayesian inferen...',
 'title_RESEARCH ANALYST III, BEHAVIORAL SCIENCES',
 'title_REVENUE ANALYST (STATISTICAL/ TIME SERIES ANALYSIS BACKGROUN...',
 'title_React.js Developer - Machine Learning',
 'title_Real Estate / Title Research Analyst',
 'title_Realty Specialist',
 'title_Regulatory & Compliance Manager',
 'title_Research Administrator Analyst',
 'title_Research Analyst',
 'title_Research Analyst (excel, analysis, client-facing)',
 'title_Research Analyst for Tech Industry',
 'title_Research Analyst/Customer Serv',
 'title_Research Associate 1',
 'title_Research Data Analyst',
 'title_Research Evaluation Analyst Senior',
 'title_Research Financial Analyst (Dept/Sch)',
 'title_Research Physical Scientist, AST, Chemical and Biological Ev...',
 'title_Research Programmer/Analyst, Robotics Institute',
 'title_Research Quality Assurance Analyst',
 'title_Research Scientist',
 'title_Research Scientist 3 - (Water Pollution)',
 'title_Research Scientist II',
 'title_Research Specialist',
 'title_Research Statistician - Payment Cards',
 'title_Research Technician',
 'title_Research Technician II - Office of Research and Sponsored Pr...',
 'title_Research Technician III, Grade 21, Job 735195',
 'title_Researcher and Data Analyst, Developmental Disabilities',
 'title_Risk Data Scientist',
 'title_Robotics software engineer (involves machine learning, AI, a...',
 'title_SENIOR RESEARCH ANALYST',
 'title_SENIOR RESEARCH STAFF ASSISTANT',
 'title_SR. SCIENTIST',
 'title_SR. SOFTWARE ENGINEER - JAVA, BIG DATA, MACHINE LEARNING',
 'title_STAFF DATA SCIENTIST / DEEP LEARNING',
 'title_STATISTICIAN, LEVEL I',
 'title_School Business Manager and Human Resources (HR)',
 'title_Scientific Researcher',
 'title_Scientist',
 'title_Scientist - Tea',
 'title_Scientist II - Tea (must have tea experience)',
 'title_Scientist for Tea Formulation',
 'title_Search Marketing Specialist',
 'title_Senior Analyst (Data Science)',
 'title_Senior Business Intelligence Data Scientist',
 'title_Senior Business Intelligence Scientist',
 'title_Senior Data Analyst',
 'title_Senior Data Scientist',
 'title_Senior Data Scientist ($150k)',
 'title_Senior Data Scientist (Autonomous Vehicle Research)',
 'title_Senior Data Scientist (Deep Learning or NLP)',
 'title_Senior Data Scientist (Econometrics)',
 'title_Senior Data Scientist (Financial Engineering)',
 'title_Senior Data Scientist (Healthcare)',
 'title_Senior Data Scientist (Python, R) in Des Plaines',
 'title_Senior Data Scientist, Machine Learning (Data Labs)',
 'title_Senior Deep Learning Data Scientist',
 'title_Senior Dev Opps Engineer for San Diego Financial Software (A...',
 'title_Senior Dev Ops/App Ops Engineer (AWS Cloud)',
 'title_Senior DevOps Engineer | Remote | Mature Start-up',
 'title_Senior Epidemiologist, Bureau Systems Strengthening and Acce...',
 'title_Senior Equity Research Analyst',
 'title_Senior Hadoop Administrator',
 'title_Senior Java Computer Scientist',
 'title_Senior Level Data Scientist',
 'title_Senior Manager Supply Chain Analytics',
 'title_Senior NLP Scientist/Engineer',
 'title_Senior Node.JS Developer',
 'title_Senior Operations Research Analyst',
 'title_Senior Research Analyst',
 'title_Senior Research Quality Assurance Analyst',
 'title_Senior Scientist',
 'title_Senior Scientist - Upstream Processes - Biologics Manufactur...',
 'title_Senior Software Engineer',
 'title_Senior Software Scientist \xe2\x80\x93 Platform Tools R&D',
 'title_Senior Staff Scientist / Technical Director',
 'title_Senior Statistician',
 'title_Senior/ Lead Data Scientist for Digital Media Company',
 'title_Software Development Engineer (Machine Learning)',
 'title_Software Engineer - C, Linux - BIG Compensation',
 'title_Software Engineer - Machine Learning Team',
 'title_Software Engineer, Cloud',
 'title_Software Engineer, Java',
 'title_Software Engineer-Data Scientist',
 'title_Software Engineer/Data Scientist',
 'title_Software Engineers (junior to mid-level) Python/Flask/Angula...',
 'title_Sr. Applications Engineer',
 'title_Sr. Certifying Scientist / Toxicologist',
 'title_Sr. Data Scientist',
 'title_Sr. Data Scientist, Compensation Analytics',
 'title_Sr. Machine Learning Data Scientist',
 'title_Sr. RA II',
 'title_Sr. Risk Statistician',
 'title_Sr. Statistician',
 'title_Staff Engineer, Machine Learning (Scala)',
 'title_Statistical Analyst',
 'title_Statistical Assistant',
 'title_Statistical Credit Risk Modeler | Top Performing Investment...',
 'title_Statistical Data Analyst',
 'title_Statistical Data Analyst // Exciting Long-term Contract in N...',
 'title_Statistical Research Scientist - RADARS',
 'title_Statistical Research Specialist',
 'title_Statistician',
 'title_Statistician (Health)',
 'title_Statistician \xe2\x80\x93 Trading Firm',
 'title_Statistician, GS-1350-12 (DEU-PERM-DS)',
 'title_Supervisory Health Scientist',
 'title_Survey Methodologist',
 'title_Systems Programmer',
 'title_Tech Lead Full-Stack Engineer',
 'title_Technical Project Manager/Business Analyst',
 'title_Technical Service Engineer',
 'title_Trace Organics - Environmental Lab Scientist II',
 'title_VP - Predictive Modeling / Data Scientist',
 'title_VP - Predictive Modeling Actuary',
 'title_VP Data Scientist',
 'title_VP of Data Services',
 'title_Vice President Engineering (Big Data/ Machine Learning)',
 'title_Water Quality Modeler',
 'title_Water Resources Analyst',
 'title_Web Security Research Analyst']

In [172]:
indeed_final=indeed_df[to_keep]
indeed_final.columns.values

array(['good_salary_False', 'good_salary_True',
       'title_(Per-Diem) Research Analyst',
       'title_(Sr.) Statistical Consultant',
       'title_A.I. Psychologist/Research Assistant',
       'title_AVP/Quantitative Analyst',
       'title_Academic Financial Specialist', 'title_Account Management',
       'title_Accountant, Associate, College of Medicine - Phoenix',
       'title_Administrative Analyst/Specialist, Exempt I - Office of Rese...',
       'title_Analyst', 'title_Analyst, Market Research',
       'title_Analyst, Strategy & Insights \xe2\x80\x93 Custom Research',
       'title_Analytics Expert', 'title_Analytics Senior Director',
       'title_Animal Care I', 'title_Asc Dir, Research Projects',
       'title_Assistant Research Scientist',
       'title_Assistant Research Scientist (G14) (Virology) - 34114',
       'title_Assistant Research Scientist - RADARS',
       'title_Assistant Research Scientist I, Grade 14, Job 736895',
       'title_Associate Research Analyst', 'title_Astrophysicist',
       'title_Audit Snr (Banking) - Data Analysis 60K-80K',
       'title_BI/Data Architect', 'title_Big Data Engineer',
       'title_Big Data Engineer (Software Engineering) \xe2\x80\x93 Analytics',
       'title_Big Data Engineer | Remote | Mature Start-up',
       'title_Big Data Engineer/ ETL Developer for a Global Education Prov...',
       'title_Billing Specialist',
       'title_Bioinformatics Postdoctoral Fellow',
       'title_Budget & Research Analyst', 'title_Business Data Analyst',
       'title_Business Intelligence Data Scientist',
       'title_Business Intelligence Scientist',
       'title_Business Intelligence/Data Scientist at VC Bay Area Start-up',
       'title_C++ Developer / Machine Learning',
       'title_C++/Python Algo Developer/Data Scientist',
       'title_CNUP Assistant', 'title_Career Coach',
       'title_Certifying Scientist / Toxicologist',
       'title_Chief Data Scientist', 'title_Clinical Laboratory Assistant',
       'title_Clinical Laboratory Scientist (CLS)',
       'title_Clinical Program Officer',
       'title_Clinical Research Scientist',
       'title_Competitive Research Analyst #23654',
       'title_Computer Systems Manager I',
       'title_Customer Intelligence Analyst', 'title_Cytometry Technician',
       'title_DATA ANALYST', 'title_DYFJ Senior Analyst',
       'title_Data Administrator', 'title_Data Analysis Specialist',
       'title_Data Analyst',
       'title_Data Analyst II (Department: Research, Assessment & Data)',
       'title_Data Analyst Market - Research Analyst',
       'title_Data Analyst, Bureau of Chronic Disease Prevention and Tobac...',
       'title_Data Analysts, Data Scientists - Kendall Square startup',
       'title_Data Architect / Data Scientist', 'title_Data Engineer',
       'title_Data Engineer (Partially Remote)',
       'title_Data Engineer for $100B Manager ($200k+Benefits)',
       'title_Data Manager, Adolescent Health Unit',
       'title_Data Operations Manager', 'title_Data Science Engineer',
       'title_Data Scientist', 'title_Data Scientist (AML Experience)',
       'title_Data Scientist (Advanced Machine Learning)',
       'title_Data Scientist (Big Data)',
       'title_Data Scientist (Econometrics)',
       'title_Data Scientist (Lead)',
       'title_Data Scientist (Machine Learning)',
       'title_Data Scientist (Marketing Mix Modeling)',
       'title_Data Scientist (Modeler)',
       'title_Data Scientist (Natural Language Processing)',
       'title_Data Scientist (PhD & Health Insurance Claims Experience)',
       'title_Data Scientist (PhD in Statistics)',
       'title_Data Scientist (Software Engineering)',
       'title_Data Scientist - Digital Marketing - Technology Start-Up',
       'title_Data Scientist - Fort Lauderdale, Florida - $115K',
       'title_Data Scientist - Healthcare stealth startup - python',
       'title_Data Scientist - Life Sciences',
       'title_Data Scientist - healthcare, hacking coding skills',
       'title_Data Scientist -Fitness/Wellness Firm',
       'title_Data Scientist / SQL',
       'title_Data Scientist Hedge Fund New York',
       'title_Data Scientist Programmer/Specialist',
       'title_Data Scientist- Entry Level',
       'title_Database Administrator, GSE',
       'title_Deputy Director for Child Welfare Management Reporting',
       'title_Deputy Director, QA & Strategic Statistical Analysis',
       'title_DevOps Engineer', 'title_Digital Data Scientist',
       'title_Director of Data', 'title_Director of Data Analytics',
       'title_Director of Data Science',
       'title_Director of Data Science (Mapping)',
       'title_Director of Predictive Analytics (Statistician)',
       'title_Director, Data Science',
       'title_Distributed Systems OR Full - Stack Python',
       'title_Document Control Manager', 'title_Electronics Engineer',
       'title_Electronics Technician',
       'title_Electronics Technician, GS-0856-09/10/11 (DEU-Perm-YMJ) (Rad...',
       'title_Embedded Software Engineer', 'title_Equity Research Analyst',
       'title_Equity Research Analyst \xe2\x80\x93 Biotech - Chicago, IL',
       'title_Equity Research Analyst\xc2\xa0- US Energy Stocks',
       'title_Erlang Engineer', 'title_Financial Data Scientist',
       'title_Food Scientist MS or PhD - Meat Products',
       'title_Fraud Data Scientist',
       'title_Front End/UI Hybrid at World-Renowned Research Lab',
       'title_Front-End Engineer', 'title_Full-Stack Data Scientist',
       'title_Geologist GS-1350-07/09 (DEU - TERM - JG)',
       'title_Global Equity Research Analyst',
       'title_Global Marketing Manager - Ingredient and School Foodservice',
       'title_HIGH THROUGHPUT SCREENING...',
       'title_HUMAN RESOURCES ANALYST IV - Test Research',
       'title_Head of Data Sciences', 'title_Health Scientist',
       'title_Health Technician (Optometry)',
       'title_Healthcare Research Analyst',
       'title_High Frequency Strategy Engineer',
       'title_IT Specialist (APPSW)', 'title_Infectious Disease Scientist',
       'title_Interdisciplinary Cartographer/Geographer - GS-1370/0150-12...',
       'title_Interdisciplinary Health Scientist/ Behavioral Scientist',
       'title_International Environmental Specialist',
       'title_Investment Research Analyst',
       'title_JR. Full Stack Developer', 'title_Java Developer',
       'title_Java Programmer', 'title_Java Software Engineer',
       'title_Junior Data Scientist',
       'title_Junior Medical Devices Equity Research Analyst',
       'title_Junior Pharma Equity Research Analyst',
       'title_Junior Quantitative Analyst / Developer for $5B Hedge Fund',
       'title_Junior Research Analyst, Family and Child Health Administrat...',
       'title_LC/MS Clinical Laboratory Scientist',
       'title_Laboratory Director, Toxicology', 'title_Laboratory Manager',
       'title_Lead Computer Vision Scientist (AR/VR | R&D | Machine Learni...',
       'title_Lead Data Scientist',
       'title_Lead Ruby on Rails Architect - CTO\xc2\x92s \xc2\x91Right Hand\xc2\x92',
       'title_Lecturer - Statistics - Department of Statistics (includes s...',
       'title_MEDICAL TECHNOLOGIST, DATA SYSTEMS',
       'title_Machine Learning / Deep Learning Internship(s)',
       'title_Machine Learning Data Engineer',
       'title_Machine Learning Data Scientist',
       'title_Machine Learning Engineer',
       'title_Machine Learning Engineer Entry Level',
       'title_Machine Learning Research Scientist - Hedgefund',
       'title_Machine Learning Researcher',
       'title_Machine Learning and Data Scientist',
       'title_Manager Health Information Management Data Analysis HIM',
       'title_Manager of Data Science (Python, R)',
       'title_Manager, Data Science',
       'title_Manager, Exploratory Statistics',
       'title_Market Research Analyst',
       'title_Marketing Specialist | SEO, PPC, Conversion Marketing',
       'title_Marketing Statistician',
       'title_Masters Program Coordinator, Machine Learning Department (SC...',
       'title_Medical Technologist',
       'title_Medical Technologist (Laboratory Information Manager)',
       'title_Mid-Level C# .NET Software Engineer',
       'title_Mid-Level Data Engineer', 'title_Mid-Level Data Scientist',
       'title_Middle School Science Teacher Certificated Staff',
       'title_Mobile QA Engineer', 'title_Molecular Laboratory Manager',
       'title_NSF-Sponsored Postdoctoral Fellow: EEG Analysis',
       'title_PRODUCT DEVELOPMENT SCIENTIST - Flavors',
       'title_PROJECT MANAGER',
       'title_Platform Developer/Geospatial Big Data (Python)',
       'title_Policy Data Analyst',
       'title_Policy and Public Affairs Manager, Division of Prevention an...',
       'title_Post-Doctoral Research Scientist',
       'title_Post-Doctoral Scholar-Employee: Analysis of omics data',
       'title_Postdoc / Research Scientist',
       'title_Postdoctoral Associate',
       'title_Predictive Modeling Director',
       'title_Predictive Risk Analyst',
       'title_Principal Analyst\\Asst. Director\xc2\xb8 Data Science',
       'title_Principal Data Scientist',
       'title_Principal Data Scientist - Supply Chain',
       'title_Principal Scientist - Food Science - Protein',
       'title_Principal Statistical Analyst / Data Scientist',
       'title_Principal Statistician',
       'title_Product Development Specialist - Food R&D',
       'title_Professional Research Assistant - Clinical Research Coordina...',
       'title_Professional Research Assistant - Data Manager',
       'title_Professional Research Assistant - Tissue Bank Coordinator/Da...',
       'title_Program Manager', 'title_Program Statistician',
       'title_Project Manager, Bureau of Primary Care Information Project',
       'title_Project Manager, Citywide Programs',
       'title_Python Developer (Machine Learning)', 'title_QA Engineer',
       'title_QUANTITATIVE MODEL VALIDATION ANALYST',
       'title_Quality Assurance Coordinator (Chemist 4) (In-Training)',
       'title_Quality Control Scientist', 'title_Quantitative Analyst',
       'title_Quantitative Analyst (Big Data Focus) at $10+ Billion Hedge...',
       'title_Quantitative Analyst (Fundamental Quant Equities) - Hedge Fu...',
       'title_Quantitative Analyst for Global Quant Fund',
       'title_Quantitative Analyst or Manager Decision Sciences',
       'title_Quantitative Data Analyst, Risk Management',
       'title_Quantitative Data Scientist - Large Asset Manager',
       'title_Quantitative Research Analyst',
       'title_Quantitative Researcher - Statistical Machine Learning - Hed...',
       'title_Quantitative Researcher, Machine Learning & Bayesian inferen...',
       'title_RESEARCH ANALYST III, BEHAVIORAL SCIENCES',
       'title_REVENUE ANALYST (STATISTICAL/ TIME SERIES ANALYSIS BACKGROUN...',
       'title_React.js Developer - Machine Learning',
       'title_Real Estate / Title Research Analyst',
       'title_Realty Specialist', 'title_Regulatory & Compliance Manager',
       'title_Research Administrator Analyst', 'title_Research Analyst',
       'title_Research Analyst (excel, analysis, client-facing)',
       'title_Research Analyst for Tech Industry',
       'title_Research Analyst/Customer Serv',
       'title_Research Associate 1', 'title_Research Data Analyst',
       'title_Research Evaluation Analyst Senior',
       'title_Research Financial Analyst (Dept/Sch)',
       'title_Research Physical Scientist, AST, Chemical and Biological Ev...',
       'title_Research Programmer/Analyst, Robotics Institute',
       'title_Research Quality Assurance Analyst',
       'title_Research Scientist',
       'title_Research Scientist 3 - (Water Pollution)',
       'title_Research Scientist II', 'title_Research Specialist',
       'title_Research Statistician - Payment Cards',
       'title_Research Technician',
       'title_Research Technician II - Office of Research and Sponsored Pr...',
       'title_Research Technician III, Grade 21, Job 735195',
       'title_Researcher and Data Analyst, Developmental Disabilities',
       'title_Risk Data Scientist',
       'title_Robotics software engineer (involves machine learning, AI, a...',
       'title_SENIOR RESEARCH ANALYST',
       'title_SENIOR RESEARCH STAFF ASSISTANT', 'title_SR. SCIENTIST',
       'title_SR. SOFTWARE ENGINEER - JAVA, BIG DATA, MACHINE LEARNING',
       'title_STAFF DATA SCIENTIST / DEEP LEARNING',
       'title_STATISTICIAN, LEVEL I',
       'title_School Business Manager and Human Resources (HR)',
       'title_Scientific Researcher', 'title_Scientist',
       'title_Scientist - Tea',
       'title_Scientist II - Tea (must have tea experience)',
       'title_Scientist for Tea Formulation',
       'title_Search Marketing Specialist',
       'title_Senior Analyst (Data Science)',
       'title_Senior Business Intelligence Data Scientist',
       'title_Senior Business Intelligence Scientist',
       'title_Senior Data Analyst', 'title_Senior Data Scientist',
       'title_Senior Data Scientist ($150k)',
       'title_Senior Data Scientist (Autonomous Vehicle Research)',
       'title_Senior Data Scientist (Deep Learning or NLP)',
       'title_Senior Data Scientist (Econometrics)',
       'title_Senior Data Scientist (Financial Engineering)',
       'title_Senior Data Scientist (Healthcare)',
       'title_Senior Data Scientist (Python, R) in Des Plaines',
       'title_Senior Data Scientist, Machine Learning (Data Labs)',
       'title_Senior Deep Learning Data Scientist',
       'title_Senior Dev Opps Engineer for San Diego Financial Software (A...',
       'title_Senior Dev Ops/App Ops Engineer (AWS Cloud)',
       'title_Senior DevOps Engineer | Remote | Mature Start-up',
       'title_Senior Epidemiologist, Bureau Systems Strengthening and Acce...',
       'title_Senior Equity Research Analyst',
       'title_Senior Hadoop Administrator',
       'title_Senior Java Computer Scientist',
       'title_Senior Level Data Scientist',
       'title_Senior Manager Supply Chain Analytics',
       'title_Senior NLP Scientist/Engineer',
       'title_Senior Node.JS Developer',
       'title_Senior Operations Research Analyst',
       'title_Senior Research Analyst',
       'title_Senior Research Quality Assurance Analyst',
       'title_Senior Scientist',
       'title_Senior Scientist - Upstream Processes - Biologics Manufactur...',
       'title_Senior Software Engineer',
       'title_Senior Software Scientist \xe2\x80\x93 Platform Tools R&D',
       'title_Senior Staff Scientist / Technical Director',
       'title_Senior Statistician',
       'title_Senior/ Lead Data Scientist for Digital Media Company',
       'title_Software Development Engineer (Machine Learning)',
       'title_Software Engineer - C, Linux - BIG Compensation',
       'title_Software Engineer - Machine Learning Team',
       'title_Software Engineer, Cloud', 'title_Software Engineer, Java',
       'title_Software Engineer-Data Scientist',
       'title_Software Engineer/Data Scientist',
       'title_Software Engineers (junior to mid-level) Python/Flask/Angula...',
       'title_Sr. Applications Engineer',
       'title_Sr. Certifying Scientist / Toxicologist',
       'title_Sr. Data Scientist',
       'title_Sr. Data Scientist, Compensation Analytics',
       'title_Sr. Machine Learning Data Scientist', 'title_Sr. RA II',
       'title_Sr. Risk Statistician', 'title_Sr. Statistician',
       'title_Staff Engineer, Machine Learning (Scala)',
       'title_Statistical Analyst', 'title_Statistical Assistant',
       'title_Statistical Credit Risk Modeler | Top Performing Investment...',
       'title_Statistical Data Analyst',
       'title_Statistical Data Analyst // Exciting Long-term Contract in N...',
       'title_Statistical Research Scientist - RADARS',
       'title_Statistical Research Specialist', 'title_Statistician',
       'title_Statistician (Health)',
       'title_Statistician \xe2\x80\x93 Trading Firm',
       'title_Statistician, GS-1350-12 (DEU-PERM-DS)',
       'title_Supervisory Health Scientist', 'title_Survey Methodologist',
       'title_Systems Programmer', 'title_Tech Lead Full-Stack Engineer',
       'title_Technical Project Manager/Business Analyst',
       'title_Technical Service Engineer',
       'title_Trace Organics - Environmental Lab Scientist II',
       'title_VP - Predictive Modeling / Data Scientist',
       'title_VP - Predictive Modeling Actuary', 'title_VP Data Scientist',
       'title_VP of Data Services',
       'title_Vice President Engineering (Big Data/ Machine Learning)',
       'title_Water Quality Modeler', 'title_Water Resources Analyst',
       'title_Web Security Research Analyst'], dtype=object)

In [173]:
indeed_final_vars=indeed_final.columns.values.tolist()
y = ['good_salary_True']
X = [i for i in indeed_final_vars if i not in y ] #removes target

In [174]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
rfe = RFE(model, 12) #12 is a random number choosing ammount of relevant features
rfe = rfe.fit(indeed_final[X],indeed_final[y].values)
print(rfe.support_)
print(rfe.ranking_)

[ True False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False  True False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
  True False False False False False False False False False False False
  True False False False False False False False False False False False
 False False False False  True False False False False False False False
 False False False False False False False False False False False False
 False False False False False  True False False False False False False
 False False False False False False False False False False  True  True
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False  True False False False False
 False False False False False False False False False False False False
 False False  True False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False  True False False False False False False False False False
 False  True False False False False False False False]
[  1 184  26 183  25 182 181 180 187 189 191 193  23  22 202 204  10 179
  21 213 215  20 205 207  29 220  30  19 188 190 192   6  31  33  35  37
  39 250 253 255  41 258  43 261 264 265  45 235 237 239 238 245  47 268
 270 272 274  48  46   5  55  57 206  28  24   1  71  73  75  77 305   4
  81  83   3 209  87   2  78  94  93  84  88  95  97  99 101 285 287 288
 103 319 105 107 109 111 113 115 117 119 231 121 251 252 123 256 114  91
  92 246 247  90  60 124 126 266 128 271 273 130 132 277 278 280 134 136
 138 218 140 199 203 142   1 146 148 150 152 211 154 214 156 158 230 160
   1 163 233 234 232 165 168 289 291 167 143 306 308 169 171 173   1 311
 313 315 317 318 176 166 164 267 162 122 282 294 295 120 300 307 299 240
 241 242 118 248 116   1 112 110 108 106 104 284 286 290 102 296 302 303
 100  98  96   7   1   1  86  82  80  76 279  74  72  70  32   8 298  17
 216 310 212 177  14 185 194 201 196  11 198 195  18 222 223 226 228 249
  12 225 254 224 217 297  27 259   9 292 293 262  34 283 281 275 269  36
  38  40 227 260  42  44  15   1  49  52  53  50  51  54  56  58  66  67
  65  59  89  85  79  61  62  63   1  68 219  13 221 125 127 322 129 210
 320 131 133 135 137 304 301 139 141 144 145 236 147 149 151 276 153 263
 155 321 257  64 243 244 178 186   1 157 159 161  69 208 229  16 309 200
 197   1 170 172 174 175 312 314 316]

In [175]:
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [176]:
cols = indeed_final[X].columns.values[rfe.support_].tolist()
cols

['good_salary_False',
 'title_Data Scientist',
 'title_Java Developer',
 'title_Lead Data Scientist',
 'title_Market Research Analyst',
 'title_Principal Data Scientist',
 'title_Quality Control Scientist',
 'title_Quantitative Analyst',
 'title_Senior Data Scientist',
 'title_Senior NLP Scientist/Engineer',
 'title_Statistician',
 'title_VP - Predictive Modeling / Data Scientist']

In [177]:
X = indeed_final[cols]
y = indeed_final['good_salary_True']

In [178]:
import statsmodels.api as sm
logit_model=sm.Logit(y,X)
result=logit_model.fit()
print result.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.303892
         Iterations: 35

LinAlgError: Singular matrix

In [ ]:
from sklearn import linear_model
indeed_lm = linear_model.LogisticRegression()
indeed_lm.fit(X, y)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
from sklearn import linear_model
from sklearn import metrics
indeed_lm2 = linear_model.LogisticRegression()
indeed_lm2.fit(X_train, y_train)

In [ ]:
probs = indeed_lm2.predict_proba(X_test)

In [ ]:
probs[:5]

In [ ]:
predicted = indeed_lm2.predict(X_test)
predicted[:5]

In [ ]:
import numpy as np
prob=probs[:,1]
prob_df=pd.DataFrame(prob)
prob_df['predict']=np.where(prob_df[0]>=0.10,1,0)
prob_df.head()

In [ ]:
prob_df.predict.mean()

In [179]:
prob_df['predict']=np.where(prob_df[0]>=0.15,1,0)
prob_df.predict.mean()

0.5327868852459017

In [180]:
prob=probs[:,1]
prob_df=pd.DataFrame(prob)
prob_df['predict']=np.where(prob_df[0]>=0.05,1,0)
prob_df
prob_df['actual']=y_test.values
prob_df.head()

          0  predict  actual
0  0.049769        0     0.0
1  0.049769        0     0.0
2  0.963842        1     1.0
3  0.945377        1     1.0
4  0.049769        0     0.0

In [181]:
confusion_matrix=pd.crosstab(prob_df['actual'],prob_df['predict'])
confusion_matrix

predict   0   1
actual
0.0      56   1
1.0       0  65

In [182]:
prob=probs[:,1]
prob_df=pd.DataFrame(prob)
prob_df['predict']=np.where(prob_df[0]>=0.10,1,0)
prob_df
prob_df['actual']=y_test.values
confusion_matrix=pd.crosstab(prob_df['actual'],prob_df['predict'])
confusion_matrix

predict   0   1
actual
0.0      57   0
1.0       0  65

### The salary and job title seem to correlate very well with each other. I beleive that this sample size needs to be expanded to be able to have more job titles that are similar to each other.

# Done by city

In [183]:
indeed_city=pd.read_csv('../assets/indeed-scraped-job-postings.csv')

In [184]:
indeed_city.head()

,city,company,salary,summary,title,parsed_salary
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0
1,Denver,Department Of The Interior,"$71,012 - $99,243 a year",Investigate potential uses of geospatial data ...,Interdisciplinary Cartographer/Geographer - GS...,85127.5
2,Denver,Mental Health Center of Denver,"$70,000 - $80,000 a year",Advise the Data Developer with regard to creat...,Financial Data Scientist,75000.0
3,Denver,Denver Public Schools,"$62,712 - $75,255 a year",Portal managers on student outcome data report...,SENIOR RESEARCH ANALYST,68983.5
4,Denver,University of Colorado,"$25,000 - $29,000 a year",Experience entering and manipulating data in a...,Animal Care I,27000.0

In [185]:
indeed_city['good_salary']=(indeed_city['parsed_salary']>= 87792.0)

In [186]:
indeed_city2=pd.get_dummies(indeed_city['good_salary'], prefix='good_salary')
indeed_city3=indeed_city.join(indeed_city2)
indeed_city=indeed_city3

In [187]:
indeed_city.dropna(inplace=True)

In [188]:
catvars=['city']
for var in catvars:
   catlist='var'+'_'+var
   catlist = pd.get_dummies(indeed_city[var], prefix=var)
   indeed_city5=indeed_city.join(catlist)
   indeed_city=indeed_city5

In [189]:
indeed_city.head()

,city,company,salary,summary,title,parsed_salary,good_salary,good_salary_False,good_salary_True,city_Atlanta,...,city_Miami,city_New+York,city_Palo+Alto,city_Philadelphia,city_Phoenix,city_Pittsburgh,city_Portland,city_San+Diego,city_San+Francisco,city_Seattle
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0,True,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Denver,Department Of The Interior,"$71,012 - $99,243 a year",Investigate potential uses of geospatial data ...,Interdisciplinary Cartographer/Geographer - GS...,85127.5,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Denver,Mental Health Center of Denver,"$70,000 - $80,000 a year",Advise the Data Developer with regard to creat...,Financial Data Scientist,75000.0,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Denver,Denver Public Schools,"$62,712 - $75,255 a year",Portal managers on student outcome data report...,SENIOR RESEARCH ANALYST,68983.5,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Denver,University of Colorado,"$25,000 - $29,000 a year",Experience entering and manipulating data in a...,Animal Care I,27000.0,False,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [190]:
del indeed_city['title']
del indeed_city['company']
del indeed_city['salary']
del indeed_city['summary']
del indeed_city['good_salary']
del indeed_city['parsed_salary']

In [191]:
catvars=['city']
city_vars=indeed_city.columns.values.tolist()
tokeep=[i for i in city_vars if i not in catvars]

In [192]:
city_final=indeed_city[tokeep]
city_final.columns.values

array(['good_salary_False', 'good_salary_True', 'city_Atlanta',
       'city_Austin', 'city_Boston', 'city_Chicago', 'city_Dallas',
       'city_Denver', 'city_Houston', 'city_Los+Angeles', 'city_Miami',
       'city_New+York', 'city_Palo+Alto', 'city_Philadelphia',
       'city_Phoenix', 'city_Pittsburgh', 'city_Portland',
       'city_San+Diego', 'city_San+Francisco', 'city_Seattle'], dtype=object)

In [193]:
city_final_vars=city_final.columns.values.tolist()
Y = ['good_salary_True']
x = [i for i in city_final_vars if i not in Y ] #removes target

In [194]:
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
model2 = LogisticRegression()
rfe2 = RFE(model2, 10) #5 is a random number choosing ammount of relevant features
rfe2 = rfe2.fit(city_final[x],city_final[Y].values)
print(rfe2.support_)
print(rfe2.ranking_)

[ True False False  True  True False False False  True False  True  True
  True False  True False False  True  True]
[ 1  9  6  1  1  3  5  2  1 10  1  1  1  4  1  8  7  1  1]

In [195]:
model2

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [196]:
cols2 = city_final[x].columns.values[rfe2.support_].tolist()
cols2

['good_salary_False',
 'city_Boston',
 'city_Chicago',
 'city_Los+Angeles',
 'city_New+York',
 'city_Palo+Alto',
 'city_Philadelphia',
 'city_Pittsburgh',
 'city_San+Francisco',
 'city_Seattle']

In [197]:
x = city_final[cols2]
Y = city_final['good_salary_True']

In [198]:
import statsmodels.api as sm
logit_model=sm.Logit(Y,x)
result=logit_model.fit()
print result.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: inf
         Iterations: 35

LinAlgError: Singular matrix

In [199]:
city_lm = linear_model.LogisticRegression()
city_lm.fit(x, Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [200]:
x_train, x_test, Y_train, Y_test = train_test_split(x, Y, test_size=0.3, random_state=0)

In [201]:
city_lm2 = linear_model.LogisticRegression()
city_lm2.fit(x_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [202]:
probs2 = city_lm2.predict_proba(x_test)

In [203]:
predicted2 = city_lm2.predict(x_test)
predicted2[:5]

array([ 0.,  0.,  1.,  1.,  0.])

In [204]:
prob2=probs2[:,1]
prob_df2=pd.DataFrame(prob2)
prob_df2['predict']=np.where(prob_df2[0]>=0.10,1,0)
prob_df2.head()

          0  predict
0  0.050242        0
1  0.050242        0
2  0.948200        1
3  0.944098        1
4  0.040705        0

In [210]:
prob_df2['predict']=np.where(prob_df2[0]>=0.15,1,0)
prob_df2.predict.mean()

0.5327868852459017

In [207]:
prob2=probs2[:,1]
prob_df2=pd.DataFrame(prob2)
prob_df2['predict']=np.where(prob_df2[0]>=0.05,1,0)
prob_df2
prob_df2['actual']=Y_test.values
prob_df2.head()

          0  predict  actual
0  0.050242        1     0.0
1  0.050242        1     0.0
2  0.948200        1     1.0
3  0.944098        1     1.0
4  0.040705        0     0.0

In [208]:
confusion_matrix2=pd.crosstab(prob_df2['actual'],prob_df2['predict'])
confusion_matrix2

predict   0   1
actual
0.0      28  29
1.0       0  65

In [209]:
prob2=probs2[:,1]
prob_df2=pd.DataFrame(prob2)
prob_df2['predict']=np.where(prob_df2[0]>=0.10,1,0)
prob_df2
prob_df2['actual']=Y_test.values
confusion_matrix2=pd.crosstab(prob_df2['actual'],prob_df2['predict'])
confusion_matrix2

predict   0   1
actual
0.0      57   0
1.0       0  65

###  It also seems that it does a very good job finding the probability of finding where good salaries would be if they were grouped by city as well.